## LINK TO SQLALCHEMY TUTORIAL
<a href = "https://www.tutorialspoint.com/sqlalchemy"><h3>Tutorialspoint</h3></a>

In [8]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import MetaData,Table,Column,Integer,String
engine = create_engine('sqlite:///college.db',echo =True)
from sqlalchemy.sql import select

SyntaxError: invalid syntax (<ipython-input-8-8f2381098483>, line 5)

In [4]:
meta = MetaData()

student = Table(
    'students',meta,
    Column('id',Integer,primary_key=True),
    Column('name',String),
    Column('lastname',String),)
meta.create_all(engine)

ins = student.insert().values(name = 'Sarvesh', lastname = 'Amberkar')
conn = engine.connect()
result = conn.execute(ins)

2021-05-02 15:25:03,553 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-02 15:25:03,554 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-05-02 15:25:03,555 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-02 15:25:03,556 INFO sqlalchemy.engine.Engine COMMIT
2021-05-02 15:25:03,558 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2021-05-02 15:25:03,558 INFO sqlalchemy.engine.Engine [generated in 0.00093s] ('Sarvesh', 'Amberkar')
2021-05-02 15:25:03,561 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
conn.execute(student.insert(), [
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

2021-05-02 15:28:41,696 INFO sqlalchemy.engine.Engine INSERT INTO students (name, lastname) VALUES (?, ?)
2021-05-02 15:28:41,696 INFO sqlalchemy.engine.Engine [generated in 0.00063s] (('Rajiv', 'Khanna'), ('Komal', 'Bhandari'), ('Abdul', 'Sattar'), ('Priya', 'Rajhans'))
2021-05-02 15:28:41,699 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
conn = engine.connect()
a  = conn.execute(student.select())
for i in a:
    print(i)

2021-05-02 15:35:23,289 INFO sqlalchemy.engine.Engine SELECT students.id, students.name, students.lastname
FROM students
2021-05-02 15:35:23,289 INFO sqlalchemy.engine.Engine [cached since 75.83s ago] ()
(1, 'Sarvesh', 'Amberkar')
(2, 'Rajiv', 'Khanna')
(3, 'Komal', 'Bhandari')
(4, 'Abdul', 'Sattar')
(5, 'Priya', 'Rajhans')

# multiple table

In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///college.db', echo=True)
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer, ForeignKey('students.id')), 
   Column('postal_add', String), 
   Column('email_add', String))

meta.create_all(engine)

2021-05-02 15:58:54,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-02 15:58:54,069 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-05-02 15:58:54,070 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-02 15:58:54,071 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2021-05-02 15:58:54,071 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-02 15:58:54,072 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("addresses")
2021-05-02 15:58:54,072 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-02 15:58:54,073 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("addresses")
2021-05-02 15:58:54,073 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-02 15:58:54,074 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	lastname VARCHAR,
	PRIMARY KEY (id)
)


2021-05-02 15:58:54,075 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2021-05-02 15:58:54,212 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	st_id INTEGER,
	postal_add VARCHAR,
	email_add VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(st_id) REFERENCES students (id)
)


2021-05-02 15:58:54,213 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2021-05-02 15:58:54,296 INFO sqlalchemy.engine.Engine COMMIT

# SQL ORM